<!DOCTYPE html>
<html>
<head>
  <title>bookmarkers</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
  </link>
</head>
<body>
  <%- include("../_share/nav.ejs") %>
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">ブックマーク編集</h1>
              <p class="lead">リンクやコメント、カテゴリー設定などが編集出来ます</p>
            </div>
          </div>
          <form action="/bookmark/edit/<%= editData.id %>" method="POST">
            <div class="form-group">
              <label for="exampleFormControlInput1">URL</label>
              <input type="url" class="form-control" id="url" name="url" value="<%= editData.url %>">
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">URLのタイトル</label>
              <input type="text" class="form-control" id="url_title" name="url_title" value="<%= editData.title %>">
            </div>
            <!-- カテゴリー -->
            <label>カテゴリー</label>
            <div class="form-group">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="category" value="0" onchange="getCategoryRadio()" checked>
                <label class="form-check-label">既存選択</label>
                <select class="form-control" id="select_category" name="select_category">
                  <option value=""></option>
                  <option value="<%=editData.category_id %>" selected>
                    <%= editData.name %>
                  </option>
                  <% for (var item of categoryData) { %>
                    <option value="<%=item.category_id %>">
                      <%= item.name %>
                    </option>
                    <% } %>
                </select>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="category" value="1" onchange="getCategoryRadio()">
                <label class="form-check-label">新規登録</label>
                <input type="text" class="form-control" id="reg_category" placeholder="カテゴリー登録" name="reg_category">
              </div>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">メモ</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="text_memo" value="<%= editData.category %>"></textarea>
            </div>
            <div class="d-flex mt-3">
              <button type="submit" class="btn btn-success">登録</button>
              <a href="/" class="btn btn-secondary ms-3">戻る</a>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-sm-12 mt-4">
          <%- include("../_share/sidebar.ejs") %>
        </div>
      </div>
    </div>
    <%- include("../_share/footer.ejs") %>
      <script src="/static/Javascripts/script.js"></script>
      <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
